doctype html

html
  head
    link(rel='stylesheet' type='text/css' href= staticPath + '/stylesheets/theme.css')
    title= title

  body
    script(type='text/javascript' src= staticPath + '/scripts/theme.js')
