#text-container
  p.text-justify Livre will be a network of free ideas!
  p.text-justify The project is under active and intense development. Check it out at github.com/lcneves/livre.
  p.text-justify The user interface will be fully 3D, based on the w3d technology, under development by the same author at w3d.io.
